// Add Listing Page
.manage-listing{
    display: grid;
    grid-template-columns: minmax(300px, 25%) 75%;
    grid-gap: 30px;
    padding: 30px;
    max-width: 1900px;
    margin: 0 auto;

    &.edit-enhanced{
        .listing-inner .listing-actions-wrapper .listing-action{
            width: 50%;
        }
    }

    .listing-preview{
        img{
            width: 100%;
        }
    }

    .listing-info{
        background: $white;
        box-shadow: $shadow;
        border-radius: 3px;

        .photos-wrapper, .mls-photos-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 10px;
        
            .img{
                height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 3px;
                transition: box-shadow 300ms $easing, transform 300ms $easing;
                cursor: grab;

                &:hover{
                    box-shadow: $shadow-md;
                }

                &:active{
                    cursor: grabbing;
                    box-shadow: $shadow-lg;
                    transform: translateY(-3px);
                }

                .img-actions{
                    position: relative;
                    height: 100%;
                    border-radius: 3px;
                    background: linear-gradient(180deg, #000000 -21%, rgba(0, 0, 0, 0) 41%);;

                    svg{
                        cursor: pointer;
                        transition: $transition;

                        &:hover{
                            stroke: $blue;
                        }
                    }
                }
            }
        }

        .mls-photos-wrapper{
            .img{
                cursor: auto !important;
                box-shadow: none !important;
                transform: none !important;
            }
        }
    }
}

@media(max-width: 1360px){
    .manage-listing{
        grid-template-columns: 300px 1fr;
        grid-gap: 20px;
    }
}

@media(max-width: 990px){
    .manage-listing{
        padding: 20px;

        .listing-info{
            padding: 20px !important;
        }
    }
}

@media(max-width: 768px){
    .manage-listing{
        grid-template-columns: 1fr;
        padding: 0;
        grid-gap: 0;
        position: relative;

        .listing-preview{

            &.add{
                display: none;
            }

            .listing-inner{
                border-radius: 0;
            }

            .listing-bottom {
                display: none !important;
            }
        } 

        .photos-headline{
            padding-top: 15px;
        }

        .info-headline{
            position: absolute;
            top: 0;
            z-index: 3;
            width: 100%;
            padding: 20px;
            margin: 0;

            .back-btn{
                background: transparent;
                color: $white;
            }

            h2{
                color: $white;
            }

            .mobile-actions{
                svg{
                    stroke: $white;
                }
            }
        }
    }
}