//Integration Page

@import '../style.scss';

.integrations-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.integration {
    background-color: $off-white;
    width: calc(50% - 10px);
    margin:0 0 20px 20px;
    position: relative;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(odd){
        margin-left: 0;
    }

    .integration-header {
        .settings{
            cursor: pointer;
            svg{
                transition: $transition;

                &:hover{
                    stroke: $hover-blue;
                }
            }
        }
        img {
            height: 34px;
        }
    }
}

@import '../helpers';