/* Spacings */

.p-0 {
    padding: 0px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.m-0 {
    margin: 0px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-25 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}


/* Flex */

.flex {
    display: flex;
}

.flex1{
    flex: 1 !important;
}

.flex2{
    flex: 2 !important;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.flex-dir-col{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

//Font Sizes

.fs-xx-small{
    font-size: 10px !important;
    letter-spacing: unset;
}

.fs-x-small{
    font-size: 12px !important;
    letter-spacing: unset;
}

.fs-small{
    font-size: 14px !important;
    letter-spacing: unset;
}

.fs-small-upper{
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: unset;
}

p, .body{
    font-size: 16px !important;
}

h4, .h4{
    font-size: 16px !important;
    font-weight: 700;
    letter-spacing: unset;
    margin: unset;
}

h3, .h3{
    font-size: 18px !important;
    font-weight: 700;
    letter-spacing: unset;
    margin: unset;
}

h2, .h2{
    font-size: 20px !important;
    font-weight: 700;
    letter-spacing: unset;
    margin: unset;
}

h1, .h1{
    font-size: 30px !important;
    font-weight: 700;
    letter-spacing: unset;
    margin: unset;
}

// Text Align

.ta-left{
    text-align: left;
}

.ta-right{
    text-align: right;
}

.ta-center{
    text-align: center;
}

//Responsive
.mobile-show{
    display: none !important;
}

@media(max-width: 768px){
    .mobile-show{
        display: inherit !important;
    }
    
    .mobile-hide{
        display: none !important;
    }
}

//Misc

.truncate {
    // max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide{
    display: none;
}

.pointer{
    cursor: pointer;
}

.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.w-100{
    width: 100%;
    max-width: 100%;
}

.bold{
    font-weight: 700;
}