// Primary Colors
$blue: #009eeb;
$hover-blue: #007dba;
$trans-blue: rgba(0, 158, 235, 0.2);
$blue-2: #008dd1;
$green: #13ce66;
$hover-green: #0f9f4f;
$yellow: #ffc82c;
$hover-yellow: #f8b700;
$red: #ff5216;
$hover-red: #e23a00;

//Greys
$white: #fff;
$off-white: #f8fafa;
$grey-1: #f1f1f1;
$grey-2: #d8d8d8;
$grey-3: #a3a3a3;
$grey-4: #818181;
$black: #282828;

// Box Shadow

$shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.0008);
$shadow-lg: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
$no-shadow: none;

//Misc
$buttonHeight: 41px;
$transition: all 300ms cubic-bezier(.475,.425,0,.995);
$easing: cubic-bezier(.475,.425,0,.995);

html{
    margin: 0;
}

body{
    background: #f3f3f3;
    margin: 0;
}

//Fonts

p, div, input, textarea, h1, h2, h3, h4, h5, h6, select, option, ul, ol, li, a, button, form{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .3px;
    color: $black;
}

span, div{
    color: inherit;
}

div{
    box-sizing: border-box;
}

p{
    line-height: 22px;
    margin: 0;
}

ul, ol{
    padding: 0;
}

svg, div{
    outline: none !important;
}

a{
    color: inherit;
    text-decoration: none;
    transition: color 300ms $easing;

    &:hover, &:active, &:focus{
        color: inherit;
        text-decoration: none;
    }
}

.blue{
    color: $blue;
    &.link{
        transition: $transition;
        &:hover{
            color: $hover-blue;
        }
    }
}

.black {
    color: $black;
    &.link{
        transition: $transition;
        &:hover{
            color: $hover-blue;
        }
    }
}

.white {
    color: $white;
    &.link{
        transition: $transition;
        &:hover{
            color: $grey-1;
        }
    }
}

.grey {
    color: $grey-4;
    &.link{
        transition: $transition;
        &:hover{
            color: $grey-3;
        }
    }
}

.red {
    color: $red;
    &.link{
        transition: $transition;
        &:hover{
            color: $hover-red;
        }
    }
}

.yellow {
    color: $yellow;
    &.link{
        transition: $transition;
        &:hover{
            color: $hover-yellow;
        }
    }
}

.bg-blue{
    background-color: $blue;
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}

.bg-grey {
    background-color: $grey-4;
}

.bg-red {
    background-color: $red;
}

.bg-yellow {
    background-color: $yellow;
}

//Checkbox

label.checkbox {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    outline: none;
    
    &:hover input ~ .checkmark {
        background-color: $grey-2;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;

        &:checked ~ .checkmark{
            background-color: $blue;

            &:after {
                opacity: 1;
                visibility: visible;
                transition-delay: 50ms;
            }
        }
    }

    .label-text{
        font-size: 16px;
        margin-left: 30px;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $grey-1;
        border: 1px solid $grey-2;
        transition: background-color 300ms $easing;
        border-radius: 3px;
        
        &:after {
            content: "";
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transform-origin: center;
            transition: $transition;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 9px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

//Radio Button

.radio {
    display: block;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    &:hover{
        input ~ .radio-indicator {
            border-color: $grey-4;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked{
            
            &~ .radio-indicator {
                border-color: $blue;

                &:after {
                    display: block;
                    background: $blue;
                }
            }
        }
    }

    .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 2px solid $grey-3;
        box-sizing: border-box;
        transition: $transition;

        &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $grey-1;
            transition: $transition;
        }
    }
}

//Button
button, .btn {
    font-size: 16px;
    border: 1px solid $grey-1;
    background-color: $grey-1;
    padding: 10px 15px;
    border-radius: 3px;
    color: #000;
    transition: $transition;
    box-shadow: none !important;
    line-height: normal;
    outline: none !important;
    cursor: pointer;

    &:hover {
        background-color: $off-white;
    }

    &.btn-primary {
        background-color: $blue;
        border-color: $blue;
        color: $white;

        &:hover {
            background-color: $hover-blue !important;
            border-color: $hover-blue !important;
        }
    }

    &.btn-cancel {
        background-color: $white;
        border-color: $white;
        color: $grey-4;

        &:hover {
            background-color: $off-white !important;
            border-color: $off-white !important;
        }
    }

    &.btn-outline{
        border: 1px solid $black;
        color: $black;
        background: transparent;

        &:hover{
            color: $white;
            background: $black;
        }

        &.btn-primary{
            border: 1px solid $blue;
            color: $blue;
            background: transparent;

            &:hover{
                color: $white;
                background: $hover-blue;
            }
        }

        &.btn-white{
            border: 1px solid $white;
            color: $white;
            background: transparent;

            &:hover{
                color: $white;
                background: $hover-blue;
                border-color: $hover-blue;
            }
        }
    }

    &.icon-btn {
        display: flex;
        align-items: center;

        span{
            color: inherit;
            line-height: normal;
        }

        svg:first-child, img:first-child {
            width: 19px;
            height: 19px;
            margin-right: 7px;
        }
    }
} 

// Button Group

.btn-group{
    display: flex;
    align-items: center;

    > button, > a, > div{
        margin-left: 10px !important;
        border-radius: 3px !important;

        &:first-child{
            margin-left: 0 !important;
        }
    }
}

// Back Button

.back-btn{
    background: $grey-1;
    transition: $transition;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    &:hover{
        background: $grey-2;
    }

    svg,img{
        width: 20px;
        height: 20px;
    }
}

// Add btn

.add-btn {
    color: $blue;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover{
        color: $hover-blue;
    }

    svg,img{
        width: 19px;
        height: 19px;
    }

    span{
        margin-left: 10px;
    }
}

// Switch
.switch{
    cursor: pointer;
    display: inline-flex;

    .switch-bg{
        background: $grey-2;
        transition: $transition;
        border-radius: 50px;
        height: 20px;
        width: 35px;
        position: relative;
    
        .switch-handel{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 2px;
            top: 2px;
            background: $white;
            border-radius: 50%;
            box-shadow: $shadow;
            transition: left 350ms $easing;
        }
    }

    .switch-label{
        margin-left: 10px;

        &.left{
            margin-left: 0;
            margin-right: 10px;
        }
    }
    
    &.active{
        .switch-bg{
            background: $green;
        }

        .switch-handel{
            left: 16px;
        }
    }
}

// Input Labels
label{
    font-size: 14px;
    display: block;
    line-height: normal;
    margin-bottom: 5px;
}

// Text Input

input[type="text"]{
    background-color: $off-white;
    border: 1px solid $grey-2;
    transition: $transition;
    outline: none;
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    box-sizing: border-box;

    &::placeholder{
        color: $grey-3;
    }

    &:hover{
        background-color: $off-white;
        border-color: $grey-2;
    }

    &:active, &:focus{
        border-color: $grey-4;
        background-color: $off-white;
    }

    &.error{
        border-color: $red;

        & + .error-message{
            display: flex;
        }
    }
}

// Input Error Message

.error-message{
    display: none;
    font-size: 14px;
    align-items: flex-start;
    color: $red;
    margin-top: 5px;

    svg{
        width: 17px;
        height: 17px;
    }

    span{
        margin-left: 5px;
    }
}

// Input Group

.input-group{
    display: flex;
    align-items: flex-start;

    .input-wrapper{
        flex: 1;
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }

        input[type="text"], textarea, .dropdown{
            width: 100%;
        }
    }
}

@media(max-width: 990px){
    .input-group{
        flex-direction: column;
    
        .input-wrapper{
            width: 100%;
            margin-left: 0;
            margin-top: 15px;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}

// Split Input

.split-input{
    display: flex;
    align-items: center;

    .split-label{
        background: $white;
        color: $grey-4;
        border: 1px solid $grey-2;
        border-right: none;
        font-size: 14px;
        height: $buttonHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; 
        padding: 0 10px;
        box-sizing: border-box;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    input{
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        flex: 1;
    }
}

// Color Picker Input

.color-picker-input{
    position: relative;

    .color-picker-trigger{
        height: 23px;
        width: 23px;
        background: #eee;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: 1px solid $grey-2;  
        border-radius: 50%;      
    }

    input{
        text-transform: uppercase;
    }
}

// Textarea

textarea{
    background-color: $off-white;
    border: 1px solid $grey-2;
    transition: $transition;
    outline: none;
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    min-height: 100px;
    box-sizing: border-box;

    &::placeholder{
        color: $grey-3;
    }

    &:hover{
        background-color: $off-white;
        border-color: $grey-2;
    }

    &:active, &:focus{
        border-color: $grey-4;
        background-color: $off-white;
    }
}

.dot{
    margin: 0 10px;
    width: 5px;
    height: 5px;
    background: $grey-3;
    border-radius: 50%;
    display: inline-block;

    &.med{
        width: 7px;
        height: 7px;
    }
}

//Tooltip & Popover

.tippy-tooltip{
    box-shadow: 0px 2px 6px rgba(31, 45, 61, 0.25);
    background: $black;
    padding: 0;
    // max-height: 400px;
    // overflow-y: auto !important;


    & > svg{
        color: $black;
        fill: $black;
    }
}

.tippy-backdrop{
    display: none;
}

.tippy-content{
    color: $white;
    font-size: 16px;
    background-color: $black;
    padding: 10px;
    text-align: left;
    margin-bottom: -1px;
    max-height: 420px;
    overflow-y: auto;

    & > .dropdown-menu{
        display: block;
        margin: -10px;
    }
}

.tooltip-template{
    display: none;
}

// Dropdown

.dropdown{
    position: relative;

    &.open{
        .caret-down{
            transform: rotate(180deg);
        }
    }

    &.inactive{
        .dropdown-toggle{
            color: $grey-3;
        }
    }

    .dropdown-toggle{
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: left;
        outline: none !important;

        &.btn, &.btn-icon{
            padding-right: 8px;
        }

        &.icon{
            svg:first-child{
                width: 20px;
                height: 20px;
                margin-right: unset;
            }

            .caret-down{
                display: none;
            }
        }

        span{
            color: inherit;
        }

        svg:first-child{
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }

        .caret-down {
            width: unset;
            height: unset;
            margin-right: unset;
            margin-left: 5px;
        }
    }
}

.caret-down{
    transform-origin: center;
    transition: all 300ms ease;
    margin:0 0 0 10px;
}

.dropdown-menu{
    display: none;
    // max-height: 420px;
    // overflow-y: auto;
}

.dropdown-item{
    padding: 20px 20px 19px;
    border-bottom: 1px solid $grey-1;
    background-color: $off-white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:last-child{
        border: none;
        padding-bottom: 20px;
    }

    &:hover{
        background-color: darken($off-white, 5);
    }

    .checkbox, .radio, .switch{
        pointer-events: none;

        ~ span{
            pointer-events: none; 
        }
    }

    span{
        margin-right: 30px;
        pointer-events: none;
    }

    svg{
        width: 19px;
        height: 19px;
        pointer-events: none;
    }
}

// Selects

select{
    height: $buttonHeight;
    background-color: $off-white;
    border: 1px solid $grey-2;
    transition: $transition;
    cursor: pointer;

    &:hover{
        border-color: $grey-3;
    }

    &:focus{
        outline: none !important;
    }
}

// Popups

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transition: $transition;
    transform: translate(-50%, -55%);
    border-radius: 3px;
    box-shadow: $shadow-lg;
    width: 90%;
    background: $white;
    z-index: 100;
    max-height: 90%;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.large{
        max-width: 1200px;
    }

    &.med{
        max-width: 800px;
    }
    
    &.small{
        max-width: 400px;
    }

    &.open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, -50%);
    }

    .popup-header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        position: sticky;
        top: 0;
        background: $white;
        z-index: 100;
    
        .close-popup{
            cursor: pointer;

            svg{
                transition: $transition;
            }

            &:hover{
                svg{
                    stroke: $grey-4;
                }
            }
        }
    }

    .popup-body{
        padding: 0 20px 0;
    }

    .popup-actions{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: sticky;
        bottom: 0;
        background: $white;
        padding: 20px;
        z-index: 100;
    }
}

.side-popup{
    position: fixed;
    top: 0;
    right: 0;
    transition: $transition;
    border-radius: 3px;
    box-shadow: $shadow-lg;
    width: 0;
    background: $white;
    z-index: 100;
    height: 100%;
    overflow-y: auto;
    pointer-events: none;

    &.open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: 800px;
    }

    .popup-header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        position: sticky;
        top: 0;
        background: $white;
        z-index: 100;
    
        .close-popup{
            cursor: pointer;
            svg{
                transition: $transition;
            }

            &:hover{
                svg{
                    stroke: $grey-4;
                }
            }
        }
    }

    .popup-body{
        padding: 0 20px 0;
    }

    .popup-actions{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: sticky;
        bottom: 0;
        background: $white;
        padding: 20px;
        z-index: 100;
    }
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: 99;
    cursor: pointer;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.open{
        opacity: .5;
        visibility: visible;
        pointer-events: auto;
    }
}

// Toasts

.toast{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: $black;
    transition: transform 300ms $easing, opacity 300ms $easing;
    position: fixed;
    z-index: 100;
    left: 30px;
    bottom: 30px;
    box-shadow: $shadow-lg;
    padding: 12px 12px 12px 20px;
    width: 280px;
    border-radius: 3px;
    color: $white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);

    &.show{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }

    &.right{
        right: 30px;
        left: unset;
    }

    &.center{
        left: calc(50% - 140px);
        right: unset;

        &.undo{
            left: calc(50% - 150px);
        }
    }

    &.undo{
        width: 300px;

        .undo-toast{
            display: block;
        }
    }

    span{
        color: $white;
    }

    .close-toast{
        display: flex;
    }

    svg{
        cursor: pointer;
        margin-left: 15px;
        transition: $transition;
        width: 19px;
        height: 19px;
    }

    .undo-toast{
        margin-left: 10px;
        color: $yellow;
        transition: $transition;
        cursor: pointer;
        display: none;

        &:hover{
            color: $hover-yellow;
        }
    }
}

//Mobile Actions

.mobile-actions{
    display: flex;
    align-items: center;

    .action{
        margin-left: 20px;
        cursor: pointer;
    }
}

// Search Bar
.search-bar {
    display: flex;
    align-items: center;
    min-width: 300px;

    &:hover {
        input, .search-btn {
            background: $off-white;
            border-color: $grey-3;
        }
    }

    input {
        background: $grey-1;
        transition: $transition;
        border: 1px solid $grey-1;
        border-right: none;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px 10px 10px 15px;
        font-size: 16px;
        color: $black;
        border: 1px solid $grey-2;
        border-right: 1px solid transparent;
        outline: none;
        flex: 1;
        &:active,
        &:focus {
            background: $off-white;
            border-color: $grey-4;
        }
    }

    .search-btn {
        box-sizing: border-box;
        background: $grey-1;
        transition: $transition;
        border: 1px solid $grey-1;
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        height: $buttonHeight;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid $grey-2;
        border-left: none;

        img, svg {
            width: 18px;
            height: 18px;
        }
    }
} 

// Tags

.tag{
    border-radius: 3px;
    background: $off-white;
    // color: rgba($color: $black, $alpha: .7);
    color: rgba($color: $white, $alpha: 1);
    display: inline-flex;
    padding: 5px 10px;
    font-size: 14px;
}

// Toolbar
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $white;
    margin-bottom: 20px;
    border-radius: 3px;

    .toolbar-left, .toolbar-right {
        display: flex;
        align-items: center;
    }
}

// Bottom Toolbar
.bottom-toolbar{
    width: 100%;
    position: fixed;
    bottom: -100%;
    display: flex;
    justify-content: space-between;
    background: $white;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.11);
    transition: $transition;

    &.open{
        bottom: 0;
    }

    .actions{
        display: flex;
        align-items: center;

        .action{
            transition: $transition;
            cursor: pointer;
            background: transparent;
            color: $black;
            padding: 30px;
            display: flex;
            align-items: center;

            &:hover{
                color: $blue;
                background-color: $off-white;
            }

            svg{
                width: 19px;
                height: 19px;
                margin-right: 10px;
            }
        }
    }

    .cancel{
        transition: $transition;
        cursor: pointer;
        background: transparent;
        color: $grey-4;
        padding: 30px;
        display: flex;
        align-items: center;

        &:hover{
            color: $black;
            background-color: $off-white;
        }

        svg{
            width: 19px;
            height: 19px;
            margin-right: 10px;
        }
    }
}

// Info Group

.info-group-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    .info-group-col .info-group{
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.info-group-container-full{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .info-group-col .info-group{
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

@media(max-width: 1200px){
    .info-group-container{
        grid-column-gap: 20px;
    
        .info-group-col {
            margin-bottom: 20px;
        }
    }
}

@media(max-width: 990px){
    .info-group-container{
        grid-template-columns: repeat(1, 1fr);
    
        .info-group-col .info-group{
            margin-bottom: 20px;
    
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.info-group{
    
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $grey-1;
        color: $grey-4;
        padding: 10px;

        .header-label{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 13px;
            border-top-right-radius: 3px; 
            border-top-left-radius: 3px;
    
            svg, img{
                margin-right: 10px;
                width: 16px;
                height: 16px;
            }
        }

        .header-actions{
            color: $blue;
            display: flex;
            align-items: center;

            svg, img{
                cursor: pointer;
                transition: $transition;
                width: 20px;
                height: 20px;
                margin-left: 10px;

                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }

    .data-collection{
        background-color: $off-white;
        padding: 15px 15px 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        & > *:last-child{
            margin-bottom: 5px;
        }

        input[type="text"], .dropdown-toggle, textarea{
            border-color: $grey-3;
            background-color: $white;
            width: 100%;

            &:hover, &:active, &:focus {
                background-color: $white;
            }
        }

        textarea{
            min-height: 150px;
        }
    }
}

//Callout

.callout {
    margin: 0px 30px;
    padding: 20px;
    border-radius: 3px;
    background-color: $off-white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    svg{
        transition: $transition;
        cursor: pointer;
        width: 23px;
        height: 23px;

        &:hover{
            color: $hover-blue;
        }
    }

    &.primary{
        background: $trans-blue;
        color: $black;
    }
}

.top-nav{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 0;
    background-color: $white;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box; 

    .logo{
        background-color: $blue;
        height: 74px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-nav-right{
        .dropdown-menu {
            a {
                svg {
                    height: 16px;
                }
            }
        }
    }

    .top-nav-left {
        .site-name {
            width: 160px;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: $off-white;
            p {
                margin: 0px;
            }
        }
        a {
            display: flex;
            .main-nav-tabs {
                // width: 190px;
                justify-content: center;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                transition: all 300ms ease;
                &:hover {
                    background-color: $grey-2;
                }
                svg {
                    padding-right: 10px;
                    @media (max-width: 1020px) {
                        padding-right: 0px;
                    }
                }
                p {
                    @media (max-width: 1020px) {
                        display: none;
                    }
                }
            }
        }
    }

    .notifications{
        margin: 0 40px;
        cursor: pointer;
        
        &:hover svg{
            stroke: $black;
        }

        svg{
            transition: all 300ms ease;
        }
    }

    .profile-dropdown{
        .top-avatar{
            width: 32px;
            height: 32px;
            background-image: url('/assets/images/placeholder/profile-img.png');
            background-position: center;
            background-size: cover;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
}

// SIDE NAV
.side-nav, .sidebar{
    .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $grey-4;
        padding: 20px 10px;
        border-bottom: 1px solid $grey-1;
        transition: all 300ms ease;
        @media (max-width: 992px) {
            justify-content: center;
        }
        .feather-chevron-right {
            height: 23px;
            @media (max-width: 992px) {
                display: none;
            }
        }
    
        &.active{
            color: $blue;
            border-bottom: $grey-1 1px solid;
        }
    
        &.inactive{
            color: $grey-1;
            pointer-events: none;
        }
    
        &:hover {
            text-decoration: none;
            background-color: $grey-1;
        }
    
        span{
            font-size: 16px;
            color: inherit;
            font-weight: inherit;
        }
        .link-align {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: inherit;
            svg {
                height: 20px;
                margin-right: 10px;
                @media (max-width: 992px) {
                    margin-right: 0px;
                }
            }
            span {
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}

// Tabs / Tab Pane

.tab-pane{
    display: none;

    &.open{
        display: block;
    }
}

.tab-trigger{
    cursor: pointer;
    transition: $transition;

    > *{
        pointer-events: none;
    }
}

// 2 Column 1/3 Page Layout


.sidebar-grid{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 30px;
    padding: 30px;
    max-width: 1900px;
    margin: 0 auto;

    .sidebar{
        background: $white;
        box-shadow: $shadow;
        border-radius: 3px;
        overflow: hidden;
    }
}

@media(max-width: 1360px){
    .sidebar-grid{
        grid-template-columns: 250px 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
}

// Tab header

.tab-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-2;
    border-left: none;
    border-right: none;
    // margin: 0 -30px 0;

    .tab-trigger{
        padding: 20px 20px 17px;
        border-bottom: 3px solid transparent;
        margin-bottom: -1px;
        transition: $transition;

        &:hover{
            border-color: $grey-2;
        }

        &.active{
            color: $blue;
            border-color: $blue;
        }
    }
}

// Import Helpers
// @import 'helpers';