// Site Details Page

@import '../style.scss';

.mls-wrapper{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: $off-white;

    #mls-details-grid{
        width: calc(50% - 10px);
        margin-bottom: 20px;
        
        &:nth-child(even){
            margin-left: 20px;
        }
    }
}

@import '../helpers';