// Redirects Page 

@import '../style.scss';

.redirects-wrapper{
    .redirect{
        margin-bottom: 20px;
    }
    .input-group{
        display: flex;
        align-items: center;
    }
    .input-wrapper{
        margin: 0;
    }
    .redirect-arrow{
        margin: 25px 15px 0;
        color: $grey-4;
    }
}

@import '../helpers';