// Listings Page
.custom-listings {
    padding: 30px;
    max-width: 1900px;
    margin: 0 auto;

    // Listing Type Switcher
    .listing-type-switcher{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;


        > div{
            padding: 15px 20px;
            background: $white;
            color: $grey-4;
            border-left: 1px solid $grey-2;
            font-size: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: $transition;

            &:hover{
                background: $off-white;
            }

            &:first-child{
                border: none;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            
            &:last-child{
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            &.active{
                color: $blue;
            }

            svg, img{
                margin-right: 10px;
                width: 19px;
                height: 19px;
            }
        }
    }

    //Status Filters
    .post-filters{
        width: 273px;
    }

    // Listing Container

    .listings{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr) );
        grid-gap: 30px;
        margin-bottom: 30px;

        &.enhanced-listings{
            .listing-top-info{
                justify-content: flex-end !important;
            }
            
            .listing-top{
                &::before{
                    display: none;
                }
            }
        }
    }
}

// Listing Block

.listing{

    .listing-inner{
        background: $white;
        box-shadow: $shadow;
        border-radius: 3px;
        overflow: hidden;

        .listing-top{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            height: 200px;

            &:before{
                content: "";
                background: linear-gradient(180deg, #000000 -3.64%, rgba(0, 0, 0, 0) 56.14%);
                border-radius: 6px 6px 0px 0px;
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 1;
            }
            
            .listing-top-info{
                position: absolute;
                z-index: 2;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                

                .show-on-site{
                    color: $white;
                    display: flex;
                    align-items: center;

                    span{
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }

                .tag{
                    
                    &.new{
                        background: $red;
                    }

                    &.active{
                        background: $blue;
                    }

                    &.contingency{
                        background: #7F87FF;
                    }

                    &.expired{
                        background: $grey-4;
                    }

                    &.pending{
                        background: $yellow;
                    }
                    
                    &.sold{
                        background: $green;
                    }
                }
            }
        }

        .listing-bottom{

            .street{
                width: 100%;
                max-width: 200px;
            }
        }

        .listing-actions-wrapper{
            padding: 15px 15px 20px;
            transition: $transition;
            margin-left: 0;
            display: flex;
            align-items: center;

            .listing-action{
                display: flex;
                align-items: center;
                width: 33%;
                justify-content: center;
                transition: $transition;
                cursor: pointer;

                &:hover{
                    color: $blue;
                }

                svg, img{
                    height: 19px;
                    width: 19px;
                    margin-right: 5px;
                }
            }

            &.selected{
                width: 300%;
                margin-left: -200%;

                .listing-action{
                    width: 100%;
                }

                .select-listing{
                    color: $blue;
                }
            }
        }
    }
}