// Site Pages Page

@import '../style.scss';

.draggable-list{
    padding: 20px;
    margin: 0 0 -40px;

    .item-wrapper{
        list-style: none;
    }

    .item{
        padding: 20px;
        background: $off-white;
        transition: background-color 300ms $easing;
        border: 1px solid $grey-2;
        border-radius: 3px;

        &:last-child{
            margin-bottom: 0;
        }

        &:hover{
            background: $grey-1;
        }

        .drag-btn{
            outline: none !important;
            cursor: grab;

             &:active{
                cursor: grabbing;
            }

            img, svg{
                outline: none;
                height: 23px;
                width: 23px;
            }
        } 

        .status{
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 0 15px 0 0;
            
            &.published{
                background: $green;
            }
            &.unpublished{
                background: $grey-4;
            }
            &.warning{
                background: $yellow;
            }
            &.error{
                background: $red;
            }
        }

        .item-details{
            margin: -2.5px 0;

            .item-headline{
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                &.hidden-on-nav{
                    color: $grey-4;
                }

                h3{
                    color: inherit;
                }

                svg{
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
                }
            }

            .item-links{
                margin-top: 5px;
            }
        }

        .status-message{
            margin-right: 40px;
            svg{
                width: 15px;
                height: 15px;
            }
        }
    }

    .nest{
        padding: 0 0 20px 20px;

        &.has-children{
            border: 1px solid $grey-2;
            padding-right: 20px;
            margin-top: -1px;
            background: rgba(0, 50, 180, .05)
        }

        .item-wrapper{
            margin-top: 20px;

            &:last-of-type .nest{
                margin-bottom: -20px; 
            }
        }
    }
}

.draggable-list > .item-wrapper > .has-children{
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.draggable-list > .item-wrapper > .has-children > .has-children > .has-children{
    margin-bottom: 20px;
    padding-bottom: 40px;
}

ul.draggable-list li.placeholder {
    position: relative;
    list-style: none;
    background: $grey-1;
    border: 1px dashed $blue;
    height: 68px;
    margin-bottom: 20px;
}

ul.draggable-list li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

#add-page-popup {
    .step-1.open {
        display: grid;
        padding: 0px; 
        grid-template-columns: 200px 1fr;

        .side-nav {
            background-color: $off-white;
            position: sticky;
            top: 68px;

            .link {
                padding: 20px;
            }
        }
        
        .page-templates.open{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 10px;
            padding: 20px;
            background: $grey-2;

            .template{
                position: relative;
                height: 350px;

                &:hover{
                    > div{
                        opacity: 1;
                        visibility: visible;
                        z-index: 2;
                    }
    
                    &::before{
                        opacity: .5;
                        visibility: visible;
                        z-index: 1;
                    }
                }

                > div{
                    z-index: 2;
                    transition: $transition;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $black;
                    opacity: .5;
                    z-index: 1;
                    transition: $transition;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}

// Create Short URL
#short-url-modal{
    span{
        word-break: break-all;
    }
}

@import '../helpers';