html {
  margin: 0;
}

body {
  background: #f3f3f3;
  margin: 0;
}

p, div, input, textarea, h1, h2, h3, h4, h5, h6, select, option, ul, ol, li, a, button, form {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: .3px;
  color: #282828;
}

span, div {
  color: inherit;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  line-height: 22px;
  margin: 0;
}

ul, ol {
  padding: 0;
}

svg, div {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: color 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

.blue {
  color: #009eeb;
}

.blue.link {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.blue.link:hover {
  color: #007dba;
}

.black {
  color: #282828;
}

.black.link {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.black.link:hover {
  color: #007dba;
}

.white {
  color: #fff;
}

.white.link {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.white.link:hover {
  color: #f1f1f1;
}

.grey {
  color: #818181;
}

.grey.link {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.grey.link:hover {
  color: #a3a3a3;
}

.red {
  color: #ff5216;
}

.red.link {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.red.link:hover {
  color: #e23a00;
}

.yellow {
  color: #ffc82c;
}

.yellow.link {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.yellow.link:hover {
  color: #f8b700;
}

.bg-blue {
  background-color: #009eeb;
}

.bg-black {
  background-color: #282828;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #818181;
}

.bg-red {
  background-color: #ff5216;
}

.bg-yellow {
  background-color: #ffc82c;
}

label.checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

label.checkbox:hover input ~ .checkmark {
  background-color: #d8d8d8;
}

label.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

label.checkbox input:checked ~ .checkmark {
  background-color: #009eeb;
}

label.checkbox input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

label.checkbox .label-text {
  font-size: 16px;
  margin-left: 30px;
}

label.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #f1f1f1;
  border: 1px solid #d8d8d8;
  -webkit-transition: background-color 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: background-color 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border-radius: 3px;
}

label.checkbox .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.radio {
  display: block;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.radio:hover input ~ .radio-indicator {
  border-color: #818181;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio input:checked ~ .radio-indicator {
  border-color: #009eeb;
}

.radio input:checked ~ .radio-indicator:after {
  display: block;
  background: #009eeb;
}

.radio .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #a3a3a3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.radio .radio-indicator:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f1f1f1;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

button, .btn {
  font-size: 16px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  padding: 10px 15px;
  border-radius: 3px;
  color: #000;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  line-height: normal;
  outline: none !important;
  cursor: pointer;
}

button:hover, .btn:hover {
  background-color: #f8fafa;
}

button.btn-primary, .btn.btn-primary {
  background-color: #009eeb;
  border-color: #009eeb;
  color: #fff;
}

button.btn-primary:hover, .btn.btn-primary:hover {
  background-color: #007dba !important;
  border-color: #007dba !important;
}

button.btn-cancel, .btn.btn-cancel {
  background-color: #fff;
  border-color: #fff;
  color: #818181;
}

button.btn-cancel:hover, .btn.btn-cancel:hover {
  background-color: #f8fafa !important;
  border-color: #f8fafa !important;
}

button.btn-outline, .btn.btn-outline {
  border: 1px solid #282828;
  color: #282828;
  background: transparent;
}

button.btn-outline:hover, .btn.btn-outline:hover {
  color: #fff;
  background: #282828;
}

button.btn-outline.btn-primary, .btn.btn-outline.btn-primary {
  border: 1px solid #009eeb;
  color: #009eeb;
  background: transparent;
}

button.btn-outline.btn-primary:hover, .btn.btn-outline.btn-primary:hover {
  color: #fff;
  background: #007dba;
}

button.btn-outline.btn-white, .btn.btn-outline.btn-white {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

button.btn-outline.btn-white:hover, .btn.btn-outline.btn-white:hover {
  color: #fff;
  background: #007dba;
  border-color: #007dba;
}

button.icon-btn, .btn.icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.icon-btn span, .btn.icon-btn span {
  color: inherit;
  line-height: normal;
}

button.icon-btn svg:first-child, button.icon-btn img:first-child, .btn.icon-btn svg:first-child, .btn.icon-btn img:first-child {
  width: 19px;
  height: 19px;
  margin-right: 7px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-group > button, .btn-group > a, .btn-group > div {
  margin-left: 10px !important;
  border-radius: 3px !important;
}

.btn-group > button:first-child, .btn-group > a:first-child, .btn-group > div:first-child {
  margin-left: 0 !important;
}

.back-btn {
  background: #f1f1f1;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
}

.back-btn:hover {
  background: #d8d8d8;
}

.back-btn svg, .back-btn img {
  width: 20px;
  height: 20px;
}

.add-btn {
  color: #009eeb;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-btn:hover {
  color: #007dba;
}

.add-btn svg, .add-btn img {
  width: 19px;
  height: 19px;
}

.add-btn span {
  margin-left: 10px;
}

.switch {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.switch .switch-bg {
  background: #d8d8d8;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border-radius: 50px;
  height: 20px;
  width: 35px;
  position: relative;
}

.switch .switch-bg .switch-handel {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 2px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: left 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.switch .switch-label {
  margin-left: 10px;
}

.switch .switch-label.left {
  margin-left: 0;
  margin-right: 10px;
}

.switch.active .switch-bg {
  background: #13ce66;
}

.switch.active .switch-handel {
  left: 16px;
}

label {
  font-size: 14px;
  display: block;
  line-height: normal;
  margin-bottom: 5px;
}

input[type="text"] {
  background-color: #f8fafa;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  outline: none;
  padding: 10px 10px 10px 15px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]::-webkit-input-placeholder {
  color: #a3a3a3;
}

input[type="text"]:-ms-input-placeholder {
  color: #a3a3a3;
}

input[type="text"]::-ms-input-placeholder {
  color: #a3a3a3;
}

input[type="text"]::placeholder {
  color: #a3a3a3;
}

input[type="text"]:hover {
  background-color: #f8fafa;
  border-color: #d8d8d8;
}

input[type="text"]:active, input[type="text"]:focus {
  border-color: #818181;
  background-color: #f8fafa;
}

input[type="text"].error {
  border-color: #ff5216;
}

input[type="text"].error + .error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error-message {
  display: none;
  font-size: 14px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ff5216;
  margin-top: 5px;
}

.error-message svg {
  width: 17px;
  height: 17px;
}

.error-message span {
  margin-left: 5px;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input-group .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.input-group .input-wrapper:first-child {
  margin-left: 0;
}

.input-group .input-wrapper input[type="text"], .input-group .input-wrapper textarea, .input-group .input-wrapper .dropdown {
  width: 100%;
}

@media (max-width: 990px) {
  .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-group .input-wrapper {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
  .input-group .input-wrapper:first-child {
    margin-top: 0;
  }
}

.split-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-input .split-label {
  background: #fff;
  color: #818181;
  border: 1px solid #d8d8d8;
  border-right: none;
  font-size: 14px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.split-input input {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.color-picker-input {
  position: relative;
}

.color-picker-input .color-picker-trigger {
  height: 23px;
  width: 23px;
  background: #eee;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
}

.color-picker-input input {
  text-transform: uppercase;
}

textarea {
  background-color: #f8fafa;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  outline: none;
  padding: 10px 10px 10px 15px;
  border-radius: 3px;
  min-height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
  color: #a3a3a3;
}

textarea:-ms-input-placeholder {
  color: #a3a3a3;
}

textarea::-ms-input-placeholder {
  color: #a3a3a3;
}

textarea::placeholder {
  color: #a3a3a3;
}

textarea:hover {
  background-color: #f8fafa;
  border-color: #d8d8d8;
}

textarea:active, textarea:focus {
  border-color: #818181;
  background-color: #f8fafa;
}

.dot {
  margin: 0 10px;
  width: 5px;
  height: 5px;
  background: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
}

.dot.med {
  width: 7px;
  height: 7px;
}

.tippy-tooltip {
  -webkit-box-shadow: 0px 2px 6px rgba(31, 45, 61, 0.25);
          box-shadow: 0px 2px 6px rgba(31, 45, 61, 0.25);
  background: #282828;
  padding: 0;
}

.tippy-tooltip > svg {
  color: #282828;
  fill: #282828;
}

.tippy-backdrop {
  display: none;
}

.tippy-content {
  color: #fff;
  font-size: 16px;
  background-color: #282828;
  padding: 10px;
  text-align: left;
  margin-bottom: -1px;
  max-height: 420px;
  overflow-y: auto;
}

.tippy-content > .dropdown-menu {
  display: block;
  margin: -10px;
}

.tooltip-template {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown.open .caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown.inactive .dropdown-toggle {
  color: #a3a3a3;
}

.dropdown .dropdown-toggle {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  outline: none !important;
}

.dropdown .dropdown-toggle.btn, .dropdown .dropdown-toggle.btn-icon {
  padding-right: 8px;
}

.dropdown .dropdown-toggle.icon svg:first-child {
  width: 20px;
  height: 20px;
  margin-right: unset;
}

.dropdown .dropdown-toggle.icon .caret-down {
  display: none;
}

.dropdown .dropdown-toggle span {
  color: inherit;
}

.dropdown .dropdown-toggle svg:first-child {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.dropdown .dropdown-toggle .caret-down {
  width: unset;
  height: unset;
  margin-right: unset;
  margin-left: 5px;
}

.caret-down {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 0 0 0 10px;
}

.dropdown-menu {
  display: none;
}

.dropdown-item {
  padding: 20px 20px 19px;
  border-bottom: 1px solid #f1f1f1;
  background-color: #f8fafa;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dropdown-item:last-child {
  border: none;
  padding-bottom: 20px;
}

.dropdown-item:hover {
  background-color: #e9efef;
}

.dropdown-item .checkbox, .dropdown-item .radio, .dropdown-item .switch {
  pointer-events: none;
}

.dropdown-item .checkbox ~ span, .dropdown-item .radio ~ span, .dropdown-item .switch ~ span {
  pointer-events: none;
}

.dropdown-item span {
  margin-right: 30px;
  pointer-events: none;
}

.dropdown-item svg {
  width: 19px;
  height: 19px;
  pointer-events: none;
}

select {
  height: 41px;
  background-color: #f8fafa;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
}

select:hover {
  border-color: #a3a3a3;
}

select:focus {
  outline: none !important;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  border-radius: 3px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
  width: 90%;
  background: #fff;
  z-index: 100;
  max-height: 90%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup.large {
  max-width: 1200px;
}

.popup.med {
  max-width: 800px;
}

.popup.small {
  max-width: 400px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup .popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
}

.popup .popup-header .close-popup {
  cursor: pointer;
}

.popup .popup-header .close-popup svg {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.popup .popup-header .close-popup:hover svg {
  stroke: #818181;
}

.popup .popup-body {
  padding: 0 20px 0;
}

.popup .popup-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 20px;
  z-index: 100;
}

.side-popup {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border-radius: 3px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
  width: 0;
  background: #fff;
  z-index: 100;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
}

.side-popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  width: 800px;
}

.side-popup .popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
}

.side-popup .popup-header .close-popup {
  cursor: pointer;
}

.side-popup .popup-header .close-popup svg {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.side-popup .popup-header .close-popup:hover svg {
  stroke: #818181;
}

.side-popup .popup-body {
  padding: 0 20px 0;
}

.side-popup .popup-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 20px;
  z-index: 100;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #282828;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup-overlay.open {
  opacity: .5;
  visibility: visible;
  pointer-events: auto;
}

.toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #282828;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -webkit-transform 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 300ms cubic-bezier(0.475, 0.425, 0, 0.995), -webkit-transform 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  position: fixed;
  z-index: 100;
  left: 30px;
  bottom: 30px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
  padding: 12px 12px 12px 20px;
  width: 280px;
  border-radius: 3px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.toast.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.toast.right {
  right: 30px;
  left: unset;
}

.toast.center {
  left: calc(50% - 140px);
  right: unset;
}

.toast.center.undo {
  left: calc(50% - 150px);
}

.toast.undo {
  width: 300px;
}

.toast.undo .undo-toast {
  display: block;
}

.toast span {
  color: #fff;
}

.toast .close-toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toast svg {
  cursor: pointer;
  margin-left: 15px;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  width: 19px;
  height: 19px;
}

.toast .undo-toast {
  margin-left: 10px;
  color: #ffc82c;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  display: none;
}

.toast .undo-toast:hover {
  color: #f8b700;
}

.mobile-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-actions .action {
  margin-left: 20px;
  cursor: pointer;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
}

.search-bar:hover input, .search-bar:hover .search-btn {
  background: #f8fafa;
  border-color: #a3a3a3;
}

.search-bar input {
  background: #f1f1f1;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border: 1px solid #f1f1f1;
  border-right: none;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 10px 10px 15px;
  font-size: 16px;
  color: #282828;
  border: 1px solid #d8d8d8;
  border-right: 1px solid transparent;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-bar input:active, .search-bar input:focus {
  background: #f8fafa;
  border-color: #818181;
}

.search-bar .search-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f1f1f1;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border: 1px solid #f1f1f1;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 41px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  border-left: none;
}

.search-bar .search-btn img, .search-bar .search-btn svg {
  width: 18px;
  height: 18px;
}

.tag {
  border-radius: 3px;
  background: #f8fafa;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 10px;
  font-size: 14px;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 3px;
}

.toolbar .toolbar-left, .toolbar .toolbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-toolbar {
  width: 100%;
  position: fixed;
  bottom: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.11);
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.bottom-toolbar.open {
  bottom: 0;
}

.bottom-toolbar .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-toolbar .actions .action {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  background: transparent;
  color: #282828;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-toolbar .actions .action:hover {
  color: #009eeb;
  background-color: #f8fafa;
}

.bottom-toolbar .actions .action svg {
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

.bottom-toolbar .cancel {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  background: transparent;
  color: #818181;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-toolbar .cancel:hover {
  color: #282828;
  background-color: #f8fafa;
}

.bottom-toolbar .cancel svg {
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

.info-group-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.info-group-container .info-group-col .info-group {
  margin-bottom: 30px;
}

.info-group-container .info-group-col .info-group:last-child {
  margin-bottom: 0;
}

.info-group-container-full {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.info-group-container-full .info-group-col .info-group {
  margin-bottom: 30px;
}

.info-group-container-full .info-group-col .info-group:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .info-group-container {
    grid-column-gap: 20px;
  }
  .info-group-container .info-group-col {
    margin-bottom: 20px;
  }
}

@media (max-width: 990px) {
  .info-group-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .info-group-container .info-group-col .info-group {
    margin-bottom: 20px;
  }
  .info-group-container .info-group-col .info-group:last-child {
    margin-bottom: 0;
  }
}

.info-group .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f1f1f1;
  color: #818181;
  padding: 10px;
}

.info-group .header .header-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.info-group .header .header-label svg, .info-group .header .header-label img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.info-group .header .header-actions {
  color: #009eeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-group .header .header-actions svg, .info-group .header .header-actions img {
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.info-group .header .header-actions svg:first-child, .info-group .header .header-actions img:first-child {
  margin-left: 0;
}

.info-group .data-collection {
  background-color: #f8fafa;
  padding: 15px 15px 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.info-group .data-collection > *:last-child {
  margin-bottom: 5px;
}

.info-group .data-collection input[type="text"], .info-group .data-collection .dropdown-toggle, .info-group .data-collection textarea {
  border-color: #a3a3a3;
  background-color: #fff;
  width: 100%;
}

.info-group .data-collection input[type="text"]:hover, .info-group .data-collection input[type="text"]:active, .info-group .data-collection input[type="text"]:focus, .info-group .data-collection .dropdown-toggle:hover, .info-group .data-collection .dropdown-toggle:active, .info-group .data-collection .dropdown-toggle:focus, .info-group .data-collection textarea:hover, .info-group .data-collection textarea:active, .info-group .data-collection textarea:focus {
  background-color: #fff;
}

.info-group .data-collection textarea {
  min-height: 150px;
}

.callout {
  margin: 0px 30px;
  padding: 20px;
  border-radius: 3px;
  background-color: #f8fafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.callout svg {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.callout svg:hover {
  color: #007dba;
}

.callout.primary {
  background: rgba(0, 158, 235, 0.2);
  color: #282828;
}

.top-nav {
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 0;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-nav .logo {
  background-color: #009eeb;
  height: 74px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav .top-nav-right .dropdown-menu a svg {
  height: 16px;
}

.top-nav .top-nav-left .site-name {
  width: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8fafa;
}

.top-nav .top-nav-left .site-name p {
  margin: 0px;
}

.top-nav .top-nav-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav .top-nav-left a .main-nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.top-nav .top-nav-left a .main-nav-tabs:hover {
  background-color: #d8d8d8;
}

.top-nav .top-nav-left a .main-nav-tabs svg {
  padding-right: 10px;
}

@media (max-width: 1020px) {
  .top-nav .top-nav-left a .main-nav-tabs svg {
    padding-right: 0px;
  }
}

@media (max-width: 1020px) {
  .top-nav .top-nav-left a .main-nav-tabs p {
    display: none;
  }
}

.top-nav .notifications {
  margin: 0 40px;
  cursor: pointer;
}

.top-nav .notifications:hover svg {
  stroke: #282828;
}

.top-nav .notifications svg {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.top-nav .profile-dropdown .top-avatar {
  width: 32px;
  height: 32px;
  background-image: url("/assets/images/placeholder/profile-img.png");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.side-nav .link, .sidebar .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #818181;
  padding: 20px 10px;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media (max-width: 992px) {
  .side-nav .link, .sidebar .link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.side-nav .link .feather-chevron-right, .sidebar .link .feather-chevron-right {
  height: 23px;
}

@media (max-width: 992px) {
  .side-nav .link .feather-chevron-right, .sidebar .link .feather-chevron-right {
    display: none;
  }
}

.side-nav .link.active, .sidebar .link.active {
  color: #009eeb;
  border-bottom: #f1f1f1 1px solid;
}

.side-nav .link.inactive, .sidebar .link.inactive {
  color: #f1f1f1;
  pointer-events: none;
}

.side-nav .link:hover, .sidebar .link:hover {
  text-decoration: none;
  background-color: #f1f1f1;
}

.side-nav .link span, .sidebar .link span {
  font-size: 16px;
  color: inherit;
  font-weight: inherit;
}

.side-nav .link .link-align, .sidebar .link .link-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.side-nav .link .link-align svg, .sidebar .link .link-align svg {
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .side-nav .link .link-align svg, .sidebar .link .link-align svg {
    margin-right: 0px;
  }
}

@media (max-width: 992px) {
  .side-nav .link .link-align span, .sidebar .link .link-align span {
    display: none;
  }
}

.tab-pane {
  display: none;
}

.tab-pane.open {
  display: block;
}

.tab-trigger {
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.tab-trigger > * {
  pointer-events: none;
}

.sidebar-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-gap: 30px;
  padding: 30px;
  max-width: 1900px;
  margin: 0 auto;
}

.sidebar-grid .sidebar {
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}

@media (max-width: 1360px) {
  .sidebar-grid {
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
}

.tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
}

.tab-header .tab-trigger {
  padding: 20px 20px 17px;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.tab-header .tab-trigger:hover {
  border-color: #d8d8d8;
}

.tab-header .tab-trigger.active {
  color: #009eeb;
  border-color: #009eeb;
}

.roster-page .item-wrapper {
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("/assets/images/placeholder/profile-img.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-pic:hover .upload-profile-pic {
  opacity: 1;
}

.profile-pic .upload-profile-pic {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  content: "";
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

/* Spacings */
.p-0 {
  padding: 0px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

/* Flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.flex2 {
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 !important;
          flex: 2 !important;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fs-xx-small {
  font-size: 10px !important;
  letter-spacing: unset;
}

.fs-x-small {
  font-size: 12px !important;
  letter-spacing: unset;
}

.fs-small {
  font-size: 14px !important;
  letter-spacing: unset;
}

.fs-small-upper {
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: unset;
}

p, .body {
  font-size: 16px !important;
}

h4, .h4 {
  font-size: 16px !important;
  font-weight: 700;
  letter-spacing: unset;
  margin: unset;
}

h3, .h3 {
  font-size: 18px !important;
  font-weight: 700;
  letter-spacing: unset;
  margin: unset;
}

h2, .h2 {
  font-size: 20px !important;
  font-weight: 700;
  letter-spacing: unset;
  margin: unset;
}

h1, .h1 {
  font-size: 30px !important;
  font-weight: 700;
  letter-spacing: unset;
  margin: unset;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.mobile-show {
  display: none !important;
}

@media (max-width: 768px) {
  .mobile-show {
    display: inherit !important;
  }
  .mobile-hide {
    display: none !important;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

.bold {
  font-weight: 700;
}
/*# sourceMappingURL=roster.css.map */