@import '../style.scss';

.roster-page {
    .item-wrapper {
        margin-bottom: 20px;
    }
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('/assets/images/placeholder/profile-img.png');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;

    &:hover{
        .upload-profile-pic{
            opacity: 1;
        }
    }

    .upload-profile-pic{
        transition: all 300ms ease;
        content: "";
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
    }
}


@import '../helpers';