@import '../style.scss';

.social-media-wrapper{
    margin:0 30px 40px 0;

    img{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    input{
        width: 100%;
        max-width: 300px;
    }
}

.testimonials-wrapper{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: $off-white;

    .testimonial{
        width: calc(50% - 10px);
        margin-bottom: 30px;
        
        &:nth-child(even){
            margin-left: 20px;
        }
        label {
            color: $black;
        }
    }
}

@import '../helpers';