// Edit Exclusive Listing Page


body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.3;
    z-index: 2000;
}

ul.pages-draggable-list li.placeholder {
    position: relative;
    list-style: none;
    background: $grey-1;
    border: 1px dashed $blue;
    height: 68px;
    margin-bottom: 20px;
}

ul.pages-draggable-list li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
