// Theme Settings Page
@import '../style';

.preview{
    position: sticky;
    top: 30px;

    .preview-nav{
        position: relative;
    
        .menu-link{
            cursor: pointer;
        }
    }

    .preview-dropdown-menu{
        position: absolute;
        right: 0;
        top: calc(100% + 15px);
        box-shadow: $shadow;
        
        .dropdown-link{
            background: $white;
            color: $black;
            padding: 15px 30px 15px 15px;
            cursor: pointer;
            transition: $transition;

            &:hover{
                background: $off-white;
            }
        }
    }
}

@import '../helpers';